<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="hu.bme.aut.android.proba3">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/kezdo"
        android:label="            BuXa"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        tools:targetApi="31">
        <activity
            android:name="hu.bme.aut.android.proba3.main.expens_income.expenses.inPocket.ActivityInPocket"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">

        </activity>
        <activity android:name="hu.bme.aut.android.proba3.main.expens_income.ActivityPocket"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="hu.bme.aut.android.proba3.main.debt.details.Detailes"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name="hu.bme.aut.android.proba3.main.debt.FunctionDebt"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".main.MenuActivity"
            android:exported="false" />
        <activity android:name=".main.expens_income.ActivityQuery"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity android:name=".login.ActivityRegister"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"/>
        <activity
            android:name=".login.ActivityLogin"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="hu.bme.aut.android.proba3.NameActivity"
            android:label="ProbaKettoActivity"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar">
        </activity>





    </application>

</manifest>